.box {
    border-radius: 5px;
    border: 0.5px solid #d1d1d1;
    padding: 4%; 
    width: 95%;
    height: 75%; 
    position: relative;
    border-left-color:#013a8f;
    border-left-width: 2px
  }
  p{
    /* color: white */
}

.image{
    position: relative;
    top: -22px;
    left: -9%;
    width: 22%;

}

.image2{
    position: relative;
    top: -21px;
    left: -25%;
    width: 12%;

}

.shadow
{
    box-shadow: 5px 5px;
}

.showMore {
    color:steelblue;
}

