<div class="mh1" style="padding-top: 5px ">
        <button mat-stroked-button style="background-color: orange; color: white">
                <mat-icon class="pr1">phone</mat-icon> Studio
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button style="background-color: cadetblue;color: white">
                <mat-icon class="pr1">mood</mat-icon> Workbench
        </button>

        <div style="width:100%;height:45px;border-radius: 25px;background-color:rgb(55, 73, 100);margin-top:7%">
        
                        <span style="    font-size: 27px;
                        color: white;
                        margin-left: 8%;
                        margin-top: 3%;"class="glyphicon glyphicon-user">
                        
                     
                </span>

                <div style="display: inline;
                margin-left: 5%;
                margin-top: 8px;
                position: absolute;
                font-size: 20px;
                color: white;">Admin</div>
                <!-- <br>
                <br>
                <br> -->
<!-- <button mat-stroked-button style="background-color: #B23121; color: white;margin-left:3%;border-radius:20px">
                <mat-icon class="pr1">email</mat-icon> E-Mail
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button style="background-color: #4875B4;color: white;border-radius:20px">
                <mat-icon class="pr1">mood</mat-icon> LinkedIn
        </button> -->


        
        </div>

        <div style="margin-top:10%">
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip  >NLP</mat-chip>
                        <mat-chip  >Risk</mat-chip>
                        <mat-chip  >K-means</mat-chip>
                </mat-chip-list>
                <mat-chip-list aria-label="Fish selection">
                                <mat-chip  >Sales</mat-chip>
                                <mat-chip  >Cybersecurity</mat-chip>
                        </mat-chip-list>
                        <mat-chip-list aria-label="Fish selection">
                                        <mat-chip  >Industrial</mat-chip>
                                        <mat-chip  >Chat Bot</mat-chip>
                                </mat-chip-list>
                                <mat-chip-list aria-label="Fish selection">
                                                <mat-chip  >Security</mat-chip>
                                                <mat-chip  >Medical</mat-chip>
                                                <mat-chip  >Sales</mat-chip>
                                        </mat-chip-list>
        </div>



</div>