<div>
    <div>
        <app-header></app-header>
    </div>

    <mat-drawer-container class="example-container">
        <mat-drawer  mode="side"  opened>
            <div>
                <button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <div class="row">
                <div class="col-xs-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li class="active">Sample</li>
                    </ol>
                </div>
                <div class="col-xs-6">
                        <div style="width:100%;height:150px;margin-top:7%">
        
                                <span style="    font-size: 40px;
                                margin-left: 8%;
                                margin-top: 6%;"class="glyphicon glyphicon-user">
                                
                             
                        </span>
        
                        <div style="display: inline;
                        margin-left: 5%;
                        margin-top: 16px;
                        position: absolute;
                        font-size: 25px;">Admin
                        <br/>
                        <p>Software Engineer</p>
                        </div>
                        
                        <br>
                        <br>
                        <br>
        
                
                </div>
                    <mat-divider></mat-divider><br /><br />
                    <mat-divider></mat-divider><br /><br />

                    <mat-divider></mat-divider>

                </div>
              </div>
        </mat-drawer-content>

    </mat-drawer-container>


</div>