<div>
    <div>
        <app-header></app-header>
    </div>

    <mat-drawer-container class="example-container">
        <mat-drawer  mode="side"  opened>
            <div>
                <button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: green">mood</mat-icon> </button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon></button>
                <br /><button mat-icon-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon></button>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <div class="row pv1 ph1">
                <div class="col-xs-6 ">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li class="active">Sample</li>
                    </ol>

                    <h2>Titile Titile</h2>
                    <p>Overview : 

                            ENESA is a unique solution build by EY which uses Natural Language Processing (NLP) to interpret 
                            the query, which is then automatically classified, tagged and allocated in a BPM/Ticketing system. 
                            ENESA sends acknowledgement, filters spam and auto resolves cases that doesn’t require human judgement.
                    </p>
                    <h3>Description</h3>
                    <p>Description : 

                            ENESA is a unique solution build by EY which uses Natural Language Processing (NLP) to interpret 
                            the query,.
                    </p>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/Bot.png" alt="...">
                          </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="../../../assets/DummySc1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                        <div class="col-xs-6 col-md-3">
                          <a href="#" class="thumbnail">
                            <img src="../../../assets/DummySc1.jpg" alt="...">
                          </a>
                        </div>

                    </div>


                </div>
                <div class="col-xs-6">
                        <div style="width:100%;height:150px;margin-top:7%">
        
                                <span style="    font-size: 40px;
                                margin-left: 8%;
                                margin-top: 6%;"class="glyphicon glyphicon-user">
                                
                             
                        </span>
        
                        <div style="display: inline;
                        margin-left: 5%;
                        margin-top: 16px;
                        position: absolute;
                        font-size: 25px;">Admin
                        <br/>
                        <p>Software Engineer</p>
                        </div>
                        
                        <br>
                        <br>
                        <br>
        
                
                </div>
                    <mat-divider></mat-divider><br /><br />
                    <mat-divider></mat-divider><br /><br />

                    <mat-divider></mat-divider>

                </div>
              </div>
        </mat-drawer-content>

    </mat-drawer-container>


</div>