.bg{
    background-color: rgb(75, 75, 75);
}

/* .box {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 86%;
    height: 86%; 
  } */

p{
    color: white
}
mat-grid-tile{
    padding: 2rem
}

:host ::ng-deep .mat-drawer-inner-container
{
    overflow: hidden !important;
}

.card1 {
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto;
  }

  .card--content {
    background-color: white;
    min-width: 271px;
    margin: 5px;
    overflow-y:hidden
  }
  .card1::-webkit-scrollbar {
    display: none;
  }

  .search {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .fillSpace {
    flex: 0 1 auto;
  }
  .bottomLine{
    border-bottom-color:#858688;
    border-bottom-width: 1px
   }
  .header-style{
    font-weight: bold;
    margin-left: 0.8%;
  }

  .m5{
    margin-left:5% !important
  }

