<div>

    <div>
        <app-header></app-header>
    </div>

    <div>
        <mat-toolbar style="background-color: white" class="bottomLine">
            <span class="fillSpace"></span>
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="material-icons">search</i></button>
                    </span>
                </div>
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr1" style="color: blue">phone</mat-icon> Option 1</button>
                &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr1" style="color: green">mood</mat-icon> Option 2</button>
                &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr1" style="color: indigo">access_time</mat-icon>Option 3</button>
                &nbsp;&nbsp;&nbsp;&nbsp; <button mat-stroked-button><mat-icon class="pr1" style="color: violet ">cast</mat-icon>Option 4</button>
            </div>
        </mat-toolbar>
    </div>

    <!-- Header Ends here -->


    <mat-drawer-container>


        <!-- Side Nav -->
        <mat-drawer style="margin-right:5% !important;" mode="side" position="end" opened>
            <div >
                <app-navbar></app-navbar>
            </div>
        </mat-drawer>
        <!-- Side Nav Ends -->

        <!-- Dashboard Main Content -->
        <mat-drawer-content class = "m5" style="overflow:hidden;">


            <div class="pl2">

                <h4 class="header-style">Header 1</h4>
                <section class="card1" *ngIf="r3data != []">
                    <!-- <div class="card--content" *ngFor="let data of r1data; let i=index;" >
                            <app-box [Data]="r1data[i]" [image]="r1images[i]" [title]="r1titles[i]" [urls]="r1urls[i]"> </app-box>
                    </div> -->

                    <div class="card--content" *ngFor="let data of r3data; let i=index;">
                        <app-box [Data]="r3data[i]" [image]="r3images[i]" [title]="r3titles[i]" [urls]="r3urls[i]">
                        </app-box>
                    </div>
                </section>

                <h4 class="header-style" style="margin-top:5%">Header 2</h4>
                <section class="card1" *ngIf="r3data != []">
                    <!-- <div class="card--content" *ngFor="let data of r1data; let i=index;" >
                            <app-box [Data]="r1data[i]" [image]="r1images[i]" [title]="r1titles[i]" [urls]="r1urls[i]"> </app-box>
                    </div> -->

                    <div class="card--content" *ngFor="let data of r3data; let i=index;">
                        <app-box [Data]="r3data[i]" [image]="r3images[i]" [title]="r3titles[i]" [urls]="r3urls[i]">
                        </app-box>
                    </div>
                </section>

                <h4 class="header-style" style="margin-top:5%">Header 3</h4>
                <section class="card1" *ngIf="r1data != []">
                    <!-- <div class="card--content" *ngFor="let data of r1data; let i=index;" >
                                    <app-box [Data]="r1data[i]" [image]="r1images[i]" [title]="r1titles[i]" [urls]="r1urls[i]"> </app-box>
                            </div> -->

                    <div class="card--content" *ngFor="let data of r3data; let i=index;">
                        <app-box [Data]="r3data[i]" [image]="r3images[i]" [title]="r3titles[i]" [urls]="r3urls[i]">
                        </app-box>
                    </div>



                </section>

                <h4 class="header-style" style="margin-top:5%">Header 4</h4>
                <section class="card1" *ngIf="r3data != []">
                    <!-- <div class="card--content" *ngFor="let data of r1data; let i=index;" >
                                          <app-box [Data]="r1data[i]" [image]="r1images[i]" [title]="r1titles[i]" [urls]="r1urls[i]"> </app-box>
                                  </div> -->

                    <div class="card--content" *ngFor="let data of r3data; let i=index;">
                        <app-box [Data]="r3data[i]" [image]="r3images[i]" [title]="r3titles[i]" [urls]="r3urls[i]">
                        </app-box>
                    </div>



                </section>





            </div>


            <!-- <button [routerLink] = "['/home']" style = "float:right;position:fixed;bottom:2%;right:2%;background-color: rgb(255,230,0);color:black;border:1px solid black" _ngcontent-vqc-c21="" mat-fab="" class="mat-fab mat-accent">
            <span style="color:black;font-size:22px"class="glyphicon glyphicon-home"></span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button> -->
        </mat-drawer-content>

        <!-- Dashboard Main Content -->





    </mat-drawer-container>

</div>